// layout_default

.layout {
	color: $color-main-text;
	font-size: 1.6rem;
	margin: $column-gap;
}

.header {
	height: 7.5vh;
	background: $color-main-bg-dark;
	border-bottom: 2px solid $color-main;
}

.content {
	height: 92.5vh;
	position: relative;
}

.main {
	height: 100%;
}

.sidebar {
	background: $color-main-bg-mid;
	position: absolute;
	left: 97%;
	top: 0;
	width: 20vw;
	height: 92.5vh;
	transition: left 0.5s ease;

	&:hover {
		left: 80%;
	}
}



// layout_tablet

@media (max-width: 991px) {
	.sidebar {
		left: 92%;
		width: 40vw;
		&:hover {
			left: 60%;
		}
	}
}