// Mixins
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}





// Variables
$color-main: #330077;
$color-main-text: shade($color-main, 30%);
$color-main-bg-light: tint($color-main, 90%);
$color-main-bg-mid: tint($color-main, 80%);
$color-main-bg-dark: tint($color-main, 70%);

$color-default-text: #2c3e50;

$color-bg: #fbf3ff;